body{
  background: #eeeeee;
}
/* width */

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 2px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #0d426b;
  border-radius: 5px;
  margin: 2px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #051e31;
}
h1,h2,h3{
  color: $primary!important;
}
.bg-purple{
  background: $purple!important;
}
.mh-100{
  min-height: 100vh;
}
.bg-gray-500{
  background-color: $gray-500;
}
.navbar{
  padding: 5px;
}

.help{
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  z-index: 999;
  color: $gray-700;
}
.navbar-dark{
  .navbar-nav{
    .nav-link{
      background: rgba(255, 255, 255, 0.50);
      margin-bottom: 5px;
      text-align: left;
      padding: 1rem;
      color: rgba(255,255,255,.8);
      transition: all 0.3s ease-in-out;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
      &:hover{
        color: rgba(255,255,255,1);
        background: rgba(255, 255, 255, 0.30);
      }
      i{
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  } 
}
.screens{
  .navbar-dark{
    .navbar-nav{
      .nav-link{
        background: rgba(255, 255, 255, 0.60);
        color: $purple;
        line-height: 18px;
        transition: all 0.3s ease-in-out;
        &:hover{
          background: rgba(255, 255, 255, 0.9);
        }
        span{
          font-size: 0.7rem;
          font-weight: normal;
        }
        i{
          font-size: 2rem;
          margin-right: 1rem;
          margin-top: 2px;
          float: left;
          opacity: 0.5;
        }
      }
    }
  }
}
.btn-primary{
  background: $primary;
  border-color: $primary;
}
.btn{
  min-width: 100px;
  border-radius: 20px;
}
.card{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
}
.headerSec{
  padding: 5rem;
  background: $gray-400;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}
section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
.side_nav{
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  bottom: 0;
  background: $purple;
  color: rgba(255, 255, 255, 0.70);
  z-index: 10;
  width: 250px;
  overflow: auto;
  padding: 15px;
  font-size: 0.8rem;
  &::after{
    content: "";
    position: fixed;
    right: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  h5{
    color: #fff;
    margin: 1.5rem 0;
    text-align: center;
  }
  ul{
    padding: 0;
    list-style: none;
    li{
      margin: 15px 0;
      a{
        background: $white;
        color: $purple;
        opacity: 0.7;
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        font-size: 0.7rem;
        &:hover{
          text-decoration: none;
          opacity: 1;
        }
        b{
          font-size: 1rem;
        }
        i{
          font-size: 2rem;
          margin: 8px 20px 0 0; 
          opacity: 0.5;
        }
      }
    }
  }
  #v-cal{
    background-color: transparent;
    border: none;
    font-size: 0.5rem;
    .vcal-header{
      padding: 0;
    }
    .vcal-week{
      background-color: transparent;
      span{
        padding: 0.3rem 0rem;
        font-size: inherit;
      }
    }
    .vcal-date{
      color: #000;
      padding: 0.5rem 0;
    }
    .vcal-date--today{
      background: $primary;
      color: #fff;
    }
  } 
  .side_nav_action{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
  }

  hr{
    border-color: rgba(255, 255, 255, 0.6);
    margin: 2rem 0 1rem;
  }
  .btn-vsm{
    font-size: 12px;
    padding: 0.1rem;
    min-width: 70px;
  }
}
.selected{
  background: #cdcadc;
  border-radius: 10px;
}
.pow{
  margin: -15px 0 0;
  background: $white;
  color: $gray-700;
  display: block;
  font-size: 0.8rem;
  img{
    width: 60px;
    height: auto;
    margin-right: 10px;
  }
}
.notification{
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .notification_content{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    color: $primary;
    text-align: center;
    padding: 2rem;
    max-width: 300px;
    text-transform: uppercase;
  }
}
.box{
  background: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}
.input-group-text{
  background-color: #b37f06;
  border: 1px solid #b37f06;
  border-radius: 0;
  color: #fff;
}
.form-control,.custom-file-label{
  border: 1px solid #b37f06;
  border-radius: 0;
}
.product{
  .col-md-2{
    position: relative;
    p{
      font-size: 0.8rem;
    }
    img{
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
      margin-bottom: 5px;
    }
    label {
      position: absolute;
      top: 5px;
      left: 15px;
      right: 15px;
      bottom: 30px;
      font-family: "Font Awesome 5 Free";
      &:after {
        content: "\f14a";
        position: absolute;
        opacity: 0;
        font-size: 30px;
        left: 5px;
        color: #b37f06;
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    input[type=checkbox] {
      visibility: hidden ;
      position: absolute;
      &:checked + label:after {
        opacity: 1;
      }    
    }
  }
}
.media{
  .custom-file-label::after{
    display: none;
  }
  .custom-file-label{
    background: $primary;
    color: $white;
  }
} 
.inactive{
  img{
    opacity: 0.6;
  }
  .col-md-3{
    color: #999;
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
