@charset "UTF-8";
body {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 54px;
    color: #343a40;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-right: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #B37F06;
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
    color: #B37F06;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #f7b10f;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #43377f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.layouts {
    transition: all 0.3s ease-in-out;
}

.layouts:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

body {
    background: #eeeeee;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d426b;
    border-radius: 5px;
    margin: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #051e31;
}

h1, h2, h3 {
    color: #B37F06 !important;
}

.bg-purple {
    background: #43377F !important;
}

.mh-100 {
    min-height: 100vh;
}

.bg-gray-500 {
    background-color: #adb5bd;
}

.navbar {
    padding: 5px;
}

.help {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    font-size: 3rem;
    z-index: 999;
    color: #495057;
}

.navbar-dark .navbar-nav .nav-link {
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    text-align: left;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background: rgba(255, 255, 255, 0.3);
}

.navbar-dark .navbar-nav .nav-link i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.screens .navbar-dark .navbar-nav .nav-link {
    background: rgba(255, 255, 255, 0.6);
    color: #43377F;
    line-height: 18px;
    transition: all 0.3s ease-in-out;
}

.screens .navbar-dark .navbar-nav .nav-link:hover {
    background: rgba(255, 255, 255, 0.9);
}

.screens .navbar-dark .navbar-nav .nav-link span {
    font-size: 0.7rem;
    font-weight: normal;
}

.screens .navbar-dark .navbar-nav .nav-link i {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 2px;
    float: left;
    opacity: 0.5;
}

.btn-primary {
    background: #B37F06 !important;
    border-color: #B37F06;
    color: #fff !important;
}

.btn {
    min-width: 100px;
    border-radius: 20px;
}

.card {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: none;
}

.headerSec {
    padding: 5rem;
    background: #ced4da;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

.side_nav {
    position: fixed;
    right: 0;
    top: 0;
    left: auto;
    bottom: 0;
    background: #43377F;
    color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    width: 370px;
    overflow: auto;
    padding: 15px;
    font-size: 0.8rem;
}

.side_nav::after {
    content: "";
    position: fixed;
    right: 370px;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.side_nav h5 {
    color: #fff;
    margin: 1.5rem 0;
    text-align: center;
}

.side_nav ul {
    padding: 0;
    list-style: none;
}

.side_nav ul li {
    margin: 15px 0;
}

.side_nav ul li a {
    background: #fff;
    color: #43377F;
    opacity: 0.7;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.side_nav ul li a:hover {
    text-decoration: none;
    opacity: 1;
}

.side_nav ul li a b {
    font-size: 1rem;
}

.side_nav ul li a i {
    font-size: 2rem;
    margin: 8px 20px 0 0;
    opacity: 0.5;
}

.side_nav #v-cal {
    background-color: transparent;
    border: none;
    font-size: 0.5rem;
}

.side_nav #v-cal .vcal-header {
    padding: 0;
}

.side_nav #v-cal .vcal-week {
    background-color: transparent;
}

.side_nav #v-cal .vcal-week span {
    padding: 0.3rem 0rem;
    font-size: inherit;
}

.side_nav #v-cal .vcal-date {
    color: #000;
    padding: 0.5rem 0;
}

.side_nav #v-cal .vcal-date--today {
    background: #B37F06;
    color: #fff;
}

.side_nav .side_nav_action {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}

.side_nav hr {
    border-color: rgba(255, 255, 255, 0.6);
    margin: 2rem 0 1rem;
}

.side_nav .btn-vsm {
    font-size: 12px;
    padding: 0.1rem;
    min-width: 70px;
}

.selected {
    background: #cdcadc;
    border-radius: 10px;
}

.choose-layout label img {
    width: calc(100% - 50px);
    height: 100%;
}

.choose-layout input[type='radio'] + label {
    cursor: pointer;
}

.choose-layout input[type='radio']:checked + label {
    background: #cdcadc;
    border-radius: 10px;
}

.pow {
    margin: 0;
    background: #fff;
    color: #495057;
    display: block;
    font-size: 0.8rem;
}

.pow img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.notification .notification_content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    color: #B37F06;
    text-align: center;
    padding: 2rem;
    max-width: 300px;
    text-transform: uppercase;
}

.box {
    background: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.input-group-text {
    background-color: #b37f06;
    border: 1px solid #b37f06;
    border-radius: 0;
    color: #fff;
}

.form-control, .custom-file-label {
    border: 1px solid #b37f06;
    border-radius: 0;
}

.product .col-md-2 {
    position: relative;
}

.product .col-md-2 p {
    font-size: 0.8rem;
}

.product .col-md-2 img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.product .col-md-2 label {
    position: absolute;
    top: 5px;
    left: 15px;
    right: 15px;
    bottom: 30px;
    font-family: "Font Awesome 5 Free";
}

.product .col-md-2 label:after {
    content: "";
    position: absolute;
    opacity: 0;
    font-size: 30px;
    left: 5px;
    color: #b37f06;
}

.product .col-md-2 label:hover::after {
    opacity: 0.3;
}

.product .col-md-2 input[type=radio] {
    visibility: hidden;
    position: absolute;
}

.product .col-md-2 input[type=radio]:checked + label:after {
    opacity: 1;
}

.media .custom-file-label::after {
    display: none;
}

.media .custom-file-label {
    background: #B37F06;
    color: #fff;
}

.inactive img {
    opacity: 0.6;
}

.inactive .col-md-3 {
    color: #999;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #B37F06 !important;
}

.text-primary {
    color: #B37F06 !important;
}

a {
    color: #B37F06;
}

a:hover, a:focus, a:active {
    color: #694a04;
}

/*# sourceMappingURL=styles.css.map */
